*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding: 5rem 0;
}

.carddetails{
    position: relative;
    width: 65rem;
    height: 400px;
    height: 220px;
    overflow: hidden;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    padding: 20px;
    transition: height 0.5s ease-in-out;
    font-family: Helvetica, sans-serif;
}

.carddetails.active{
    height: 600px;
}

.carddetails .content{
    min-height: 180px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.perfil-foto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.carddetails .content .profile{
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 84px;
    overflow: hidden;
}

.carddetails .content .profile img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carddetails .content .tittles{
    margin-left: 20px;
    font-size: 400;
}

.carddetails .content .hashAndDesc{
    text-align: center;
    margin-left: 30px;
    font-size: 400;
}

.desc{
    color: rgba(128, 128, 128, 0.705);
}

.hash{
    color:#2275fa
}

.icons{
    margin-left: 6rem;
    display: flex;
    flex-direction: row;

}

.icons p{
    margin-left: 6rem;
}

.iconLike{
    width: 40px;
    height: 40px;
}

.nav-under{
    position: relative;
    top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.212);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.nav-under li{    
    margin: 15px 0;
    display: flex;
    align-items: center;
    color: #555;
    font-size: 1.1rem;
    transition: color 0.25s;
}

.nav-under li:hover{
    color: #36b3ff;
}

.toggle{
    position: absolute;
    bottom: 20px;
    /* width: 20px; */
    height: 20px;
    left: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    color: white !important;
}

.toggle .icon{
    font-size: 1.5rem;
    transition: transform ease-in-out 0.5s;
}

.carddetails.active .toggle .icon{
    transform: rotate(-180deg);
}


@media (max-width: 1144px){
    .carddetails{
        height: 250px;
    }

    .carddetails .content{
        margin: 0;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carddetails .content .tittles{
        margin: 7px 30px;
    }

    .carddetails .content .hashAndDesc{
        margin: 20px 0;
    }

    .carddetails .content .icons{
        margin: 7px 0 0 50px;
    }
    
    .carddetails.active{
        height: 800px;
    }

    .nav-under{
        top: 90px;
        padding: 10px 0;
    }
}


@media (max-width: 750px){
    .carddetails{
        height: 300px;
    }

    .carddetails .content .hashAndDesc{
        margin: 20px 0;
    }
}


@media (max-width: 644px){
    .carddetails{
        height: 370px;
    }

    .carddetails .content .hashAndDesc{
        margin: 20px 0;
    }

    .carddetails .content .icons{
        margin: 7px 30px;
    }

    .nav-under{
        top: 87px;
        padding: 10px 0;
    }
}


@media (max-width: 494px){
    .carddetails{
        height: 440px;
    }

    .carddetails .content .tittles{
        margin: 10px 30px;
    }

    .carddetails .content .hashAndDesc{
        margin: 7px 0;
    }

    .carddetails .content .icons{
        margin: 7px 0;
    }

    .tittles{
        margin: 0;
        text-align: center;
    }

    .nav-under{
        top: 85px;
        padding: 10px 0;
    }
}
