*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.herodetails-container{
    width: 100%;
    height: 60vh;
    background-size: initial;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herodetails-container .titledetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.titledetails h1{
    font-size: 2.5rem;
}

@media (min-width:1140px) {
    .titledetails h1{
        font-size: 4rem;
    }
}