.link{
  text-decoration: none;
  color: white;
}

.link:hover{
    text-decoration: none;
    color: white;
}

.linkresp{
    text-decoration: none;
}

/* ::-webkit-scrollbar{
  display: block;
} */

/* html,body{
  overflow-x: hidden;
} */

.signout{
  padding-top: 60px;
}

.userPhoto{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.card{
  border: none !important;
}

.card-header{
  display: flex;
  justify-content: center;
  border: none;
}

.card-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.textComments{
  display: flex;
  justify-content: center;
  resize: none;
  width: 80%;
  align-items: center;
}

.comment-signin{
  align-items: center;
  text-align: center;
}

.userIdImage{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card-header img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
}

.cardComments{
  border: none;
}
