.link{
  text-decoration: none;
  color: white;
}

.link:hover{
    text-decoration: none;
    color: white;
}

.linkresp{
    text-decoration: none;
}

/* ::-webkit-scrollbar{
  display: block;
} */

/* html,body{
  overflow-x: hidden;
} */

.navbar{
  width: 100% !important;
  padding: none;
}